sudo: required
language: rust
addons:
  apt:
    packages:
      - libcurl4-openssl-dev
      - libelf-dev
      - libdw-dev
      - binutils-dev
      - cmake
    sources:
      - kalakris-cmake
rust:
  - stable
  - beta
  - nightly
matrix:
  allow_failures:
    - rust: nightly
  fast_finish: true
services:
  - docker
before_install:
  - docker --version
  - docker-compose --version
  - docker-compose up -d
  - rustup component add clippy
  - cargo install -f cargo-travis;
  - export PATH=$HOME/.cargo/bin:$PATH;
script:
  - RUST_BACKTRACE=1 cargo test --all --verbose
  - cargo test --package clickhouse-rs --features tokio,tokio_io --no-default-features --test clickhouse -- --exact
  - cargo test --package clickhouse-rs --features async_std --no-default-features --test clickhouse -- --exact
  - cargo clippy --all-targets -- -D warnings;
after_success:
  - cargo coveralls --exclude-pattern target,clickhouse-rs-cityhash-sys,tests;
