[package]
name = "clickhouse-rs"
version = "0.1.3"
authors = ["Mikhail Sukharev <suharev7@gmail.com>"]
license = "MIT"
homepage = "https://github.com/suharev7/clickhouse-rs"
repository = "https://github.com/suharev7/clickhouse-rs"
description = "Tokio based asynchronous Yandex ClickHouse client library."
documentation = "https://docs.rs/clickhouse-rs/0.1.3/"
readme = "README.md"
keywords = ["tokio", "database", "clickhouse"]
categories = ["database"]
edition = "2018"

[dependencies]
log = "0.3.6"
futures = "0.1.25"
tokio = "0.1.13"
hostname = "^0.1"

chrono = "0.4"
chrono-tz = "0.5"

lz4 = "1.23.1"
clickhouse-rs-cityhash-sys = { path = "clickhouse-rs-cityhash-sys", version = "0.1.0" }

byteorder = "1.2.7"

[dev-dependencies]
env_logger = "0.3.0"
rand = "0.5"
